@{
    ViewData["Title"] = "Hello New page";
}

<div class="text-center">
    <h1 class="display-4">Hello New Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
